@using Nancy
@{
    

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SoftaweEngineering</title>
    <style>
        @ViewData["Style"]
        header{
            position: absolute;
            width: 99vw;
            left: 0;
            top: 0;
        }
        nav{
        padding:0 20px;
        }
        .navbar-links{
            display:flex;
            align-items:center;
            justify-content:center;
        }
        .navbar-links a{
            padding-left:20px;
            text-decoration:none;
            color:rgba(0,0,0,.9)
        }
    </style>
    @RenderSection("Styles",false)
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SoftaweEngineering.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Gutenberg Project</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav" style="align-items:center;margin-left:100px;gap:50px;justify-content:center" >                       
                        <form method="get" action="/books/search"  class="input-group" style="width:450px;align-items:center;justify-content:center">    
                                <label style="width:150px">Search by Name:</label>
                                @Html.TextBox("query","",new {@class = "form-control"})
                                @Html.TextBox("page","1", new {@class = "d-none"})
                                <input type="Submit" class="btn btn-primary" style="border-radius:10px"/>
                        </form>
                        
                        <form class="input-group" method="get" action="/books/topic" style="width:450px;align-items:center;justify-content:center">
                                <label style="width:150px">Search by Topic:</label>
                                @Html.TextBox("topic","",new {@class = "form-control"})
                                @Html.TextBox("page","1", new {@class = "d-none"})
                                <input type="Submit" class="btn btn-primary" style="border-radius:10px"/>
                        </form>
                    </ul>
                    
                    <div class="navbar-links">
                        @if(Context.Request.Cookies["SESSION"] != null){
                            <a asp-area="" asp-controller="Home" asp-action="Library">MyLibrary</a>
                            <a asp-area="" asp-controller="Users" asp-action="Logout">Logout</a>
                        }
                        @if(Context.Request.Cookies["SESSION"] == null){
                            <a asp-area="" asp-controller="Users" asp-action="Login">Login</a>
                        <a asp-area="" asp-controller="Users" asp-action="Register">Register</a>
                        }
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SoftaweEngineering - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
