@model List<BookCard>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string str = @Context.Request.Query["page"];
    int page = Int32.Parse(str);
    page = page + 1;
    string next = @Context.Request.Path.Value.ToString() + "?query=" + @Context.Request.Query["query"] + "&page=" + page;
    string search = @Context.Request.Query["query"];
    search.ToLower();
    string f = search[0].ToString().ToUpper() + search.Substring(1,search.Length-1).ToLower();


}
<style>
    .card-container {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        margin-top: 50px;
        gap: 50px;
    }
</style>
@if(@Model.Count > 0){
<h1 style="margin-top:100px">Books: @f</h1>
<div class="card-container">
    @foreach (BookCard bk in @Model)
    {

        <a style="text-decoration:none; color:rgba(0,0,0,.9)" href="https://localhost:7184/book/@Html.DisplayFor(m=> bk.Id)">
            <div class="card card-book" style="width: 18rem;">
                <img class="card-img-top" src="@Html.DisplayFor(m => bk.ImageUrl)" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(m => bk.Title)</h5>
                </div>
                    @if(Context.Request.Cookies["SESSION"] != null)
                    {
                        @using (Html.BeginForm("AddToLibrary", "Home", FormMethod.Post))
                        {
                            @Html.TextBox("Id",@bk.Id,new {@class = "d-none"});
                            <button style="margin-left:80px;margin-bottom:20px" type="submit" class="btn btn-primary">Add To Library</button>
                        }
                    }
            </div>
        </a>

    }
</div>

@if (@Model[0].Next)
{
<a  href="@next" class="btn">Next Page</a>
}
}